.container {
  height: 80vh;
  border: 1px solid red;
}
.postion__static {
  position: static;
  top: 180px;
  left: 200px;
}

.position__relative {
  position: relative;
  margin: 20px;
}

.position__absolute {
  position: absolute;
  top: 100px;
  left: -30px;
}
.position__sticky {
  position: sticky;
  top: 40px;
}
.position__fixed {
  position: fixed;
  top: 10px;
  left: 100px;
}
